.mywidth{
    max-width: 92vw;
}
.mywidth1{
    width: 95vw;
}
.myMenu{
    min-height: 70vh;
}
.menuimg{
    max-height: 45vh;
}
@media screen and (min-width:992px) {
    .mywidth{
        max-width: calc(90vw - 40px);
    }
    .mywidth1{
        max-width: calc(90vw - 200px)
    }
}
@media screen and (max-width:576px) {
    .menuimg{
        max-height: 20vh;
    }
}
.Hoverimg:hover img{
    scale: 1.08;
    transition: all 0.3s ease-in-out;
}